* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Modak', cursive;
    height: 100%;

}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/landing_nologin_button.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;

}


.modak-regular {
    font-family: "Modak", serif;
    font-weight: 400;
    font-style: normal;
}


.nunito-testo {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

nav {
    background: #ffeaae;
    /* Sfondo nero con trasparenza */
    transition: background 0.3s ease-in-out;
    box-shadow: var(--bs-box-shadow) !important;
    padding-right: 1.5rem;
}

.restaurant {
    display: none;
}

.bi .bi-bag-heart-fill {
    display: none;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iniziale,
.login-section,
.register-section {
    display: none;
    /* Nasconde tutte le sezioni all'inizio */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito, serif;
    width: 100%;
    height: 100%;

}

.iniziale.show,
.login-section.show,
.register-section.show {
    display: flex;
    /* Mostra la sezione quando ha la classe 'show' */
}

.login-box {
    background: rgba(58, 32, 57, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    width: 350px;

}

.btn-custom {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FF746C !important;
    transition: color 0.3s;
}

.btn-custom:hover {
    color: #ffde7a;
}

.btn-warning {
    background-color: #FFEAAE;
    border: none;
    color: #FF746C;
    transition: color 0.3s;
}

.btn-danger {
    background-color: #FFEAAE;
    border: none;
    color: black;
    transition: color 0.3s;
}

.btn-danger:hover {
    background-color: #ffde7a !important;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.toggle-password {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
}



.footer {
    margin-top: auto;
    background-color: #ffeaae;
    padding: 20px;
    font-family: Nunito, serif;

}

#desc {
    text-align: start;
}

.footer h5 {
    color: #ff746c;
    /*titoli*/
    font-family: Modak, serif;
}

.footer p,
.footer a {
    color: #341539;
    /* Colore del testo e dei link */
    text-decoration: none;
}

.footer a:hover {
    color: #57245f;
    /* Cambio colore al passaggio del mouse */
}

.d-none {
    display: none !important;
}

.social-link i {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-link:hover i {
    color: #57245f;
    /* Cambia colore al passaggio del mouse */
}

/* Media query per schermi più piccoli */
@media (max-width: 768px) {
    .footer .row {
        text-align: center;
    }

    .footer .col-md-6,
    .footer .col-md-3 {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .social-link {
        margin-right: 5px;
    }

}