body {
    /* background-image: url(../img/background_nologo.png);
    */
    background-color: #FFEAAE;
    margin-top: 20px;

}

hr {
    color: #FFEAAE;
}

nav {
    background: #ffeaae;
    /* Sfondo nero con trasparenza */
    transition: background 0.3s ease-in-out;
    box-shadow: var(--bs-box-shadow) !important;
    padding-right: 1.5rem;
}

.restaurant {
    display: none;
}

.bi .bi-bag-heart-fill {
    display: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255, 0.95);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}

.card:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.95), 0 2px 6px 0 rgba(0, 0, 0, 0.54);

}

.me-2 {
    margin-right: .5rem !important;
}

.btn {
    background-color: pink;
}
.footer {
    background-color: #ffeaae;
    padding: 20px;
}
#desc {
    text-align: start;
}
.footer h5 {
    color: #ff746c;
    /*titoli*/
    font-family: Modak, serif;
}

.footer p,
.footer a {
    font-family: "Nunito", serif;
    color: #341539;
    /* Colore del testo e dei link */
    text-decoration: none;
}

.footer a:hover {
    color: #57245f;
    /* Cambio colore al passaggio del mouse */
}

.social-link i {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-link:hover i {
    color: #57245f;
    /* Cambia colore al passaggio del mouse */
}