body {
    background-color: #ffeaae;
    margin-left: 1%;
}

.card-title {
    font-family: 'Modak', serif;
    color: #ffff;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #ff746c, 1px 1px 0 #ff746c;

}